workflows/daily-brief.workflow.json
[
  {
    "id": "hB7QvnPqejSe6LtU",
    "name": "Daily Brief (AI Inbox)",
    "description": "Generates the Daily Brief from the AI Inbox, uses a fallback if Claude is unavailable, marks captures as Briefed, and maintains the task loop.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "={{ $env.NOTION_INBOX_DATABASE_ID }}",
            "mode": "id",
            "cachedResultName": "AI Inbox"
          },
          "options": {}
        },
        "id": "e6d82f34-1163-4292-8f50-6a15f0c138b2",
        "name": "AI Inbox - pages",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          448,
          208
        ],
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const today = new Date().toLocaleDateString('en-GB');\nconst inboxRows = $input.all();\nif (inboxRows.some(i => i.json && i.json.error)) throw new Error('Unable to read the AI Inbox from Notion');\nconst valueOf = (obj, names) => { for (const name of names) { const value = obj[name]; if (value !== undefined && value !== null && value !== '') return value; } return ''; };\nconst toText = (value) => { if (value === undefined || value === null) return ''; if (Array.isArray(value)) return value.map(toText).filter(Boolean).join(', '); if (typeof value === 'object') return value.name || value.value || value.plain_text || (value.text && value.text.content) || ''; return value.toString(); };\nconst toTags = (value) => { if (!value) return []; const tags = Array.isArray(value) ? value : [value]; return tags.map(toText).filter(Boolean); };\nconst items = [];\nfor (const input of inboxRows) {\n  const j = input.json;\n  const p = j.properties || {};\n  const data = { ...p, ...j };\n  const status = toText(valueOf(data, ['property_status', 'Status', 'status']));\n  if (status && status !== 'Inbox') continue;\n  const title = toText(valueOf(data, ['property_name', 'name', 'Name', 'Title', 'title']));\n  const summary = toText(valueOf(data, ['property_summary', 'summary', 'Summary']));\n  const source = toText(valueOf(data, ['property_source', 'source', 'Source']));\n  const url = toText(valueOf(data, ['property_url', 'url', 'URL']));\n  const tags = toTags(valueOf(data, ['property_tags', 'tags', 'Tags']));\n  if (!title && !summary) continue;\n  items.push({ id: j.id, title, source, summary, tags, url });\n}\nreturn [{ json: { date: today, items: items.slice(0, 20), count: items.length } }];"
        },
        "id": "f95e7972-cd3b-4821-bada-3937b8726751",
        "name": "Prepare",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.MEMO_BRIDGE_URL + '/brief' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $env.MEMO_TOKEN }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 230000
          }
        },
        "id": "f5c744d9-ad44-4783-922f-ddb5472ce55b",
        "name": "Memo Bridge /brief",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1340,
          208
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ 'https://api.notion.com/v1/blocks/' + $env.NOTION_DAILY_BRIEF_PAGE_ID + '/children' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.body) }}",
          "options": {}
        },
        "id": "28710fd7-2c0a-43ed-8c73-58eb03f09bc6",
        "name": "Notion: write brief",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          208
        ],
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $('Prepare').first().json.items || [];\nreturn items.filter(i => i.id).map(i => ({ json: { id: i.id } }));"
        },
        "id": "297d9129-31f5-4239-9b08-e35105f1d83f",
        "name": "IDs to process",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          208
        ]
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Status|select",
                "selectValue": "Briefed"
              },
              {
                "key": "Briefed At|date",
                "date": "={{ $now.toISO() }}"
              }
            ]
          },
          "options": {}
        },
        "id": "796a9e38-26bf-4ef7-b7ea-ed47d193b937",
        "name": "Mark Briefed",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2220,
          208
        ],
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const incoming = $input.first()?.json || {};\nif (Array.isArray(incoming.blocks) && incoming.blocks.length) return $input.all();\n\nconst prepared = $('Prepare').first().json || {};\nconst items = Array.isArray(prepared.items) ? prepared.items : [];\nconst date = prepared.date || new Date().toLocaleDateString('en-GB');\nconst capUtf16 = (value, limit = 1900) => {\n  const string = (value ?? '').toString();\n  let units = 0;\n  let result = '';\n  for (const character of string) {\n    const size = character.codePointAt(0) > 0xffff ? 2 : 1;\n    if (units + size > limit) break;\n    result += character;\n    units += size;\n  }\n  return result;\n};\nconst richText = (content) => [{ type: 'text', text: { content: capUtf16(content || '') } }];\nconst block = (type, content) => ({ object: 'block', type, [type]: { rich_text: richText(content) } });\nconst divider = () => ({ object: 'block', type: 'divider', divider: {} });\nconst blocks = [\n  block('heading_2', `Daily Brief - ${date}`),\n  block('paragraph', 'Local fallback: the bridge returned no blocks, so this brief only includes the available Notion captures.'),\n  block('heading_3', \"Today's inbox\"),\n];\n\nif (!items.length) {\n  blocks.push(block('paragraph', 'Nothing to report.'));\n} else {\n  for (const item of items) {\n    const title = item.title || '(untitled)';\n    const summary = item.summary || 'No summary available.';\n    const source = item.source ? ` · Source: ${item.source}` : '';\n    const tags = Array.isArray(item.tags) && item.tags.length ? ` · Tags: ${item.tags.join(', ')}` : '';\n    blocks.push(block('bulleted_list_item', `${title} - ${summary}${source}${tags}`));\n  }\n}\n\nblocks.push(\n  block('heading_3', \"Today's action\"),\n  block('paragraph', items.length\n    ? 'Review the captures above and choose the one that best supports the active objectives.'\n    : 'No captures to process.'),\n  divider(),\n);\nreturn [{ json: { ok: true, fallback: true, brief: `Local fallback - ${date}`, blocks, count: items.length } }];\n"
        },
        "id": "c7696288-1789-4af0-a245-25d77cb4dda6",
        "name": "Brief fallback if Claude fails",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1560,
          208
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "id": "659298ad-75ab-43e9-9047-b0397518cbc1",
        "name": "Every day at 7:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          224,
          208
        ]
      },
      {
        "id": "33c21626-6e0f-4f01-984a-052bf5631510",
        "name": "Notes - blocks",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          900,
          208
        ],
        "parameters": {
          "resource": "block",
          "operation": "getAll",
          "blockId": {
            "__rl": true,
            "value": "={{ $env.NOTION_NOTES_PAGE_ID }}",
            "mode": "id"
          },
          "returnAll": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "b12b9648-2da9-4dfa-ae41-c86e19f07da1",
        "name": "System context - blocks",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1000,
          208
        ],
        "parameters": {
          "resource": "block",
          "operation": "getAll",
          "blockId": {
            "__rl": true,
            "value": "={{ $env.NOTION_CONTEXT_PAGE_ID }}",
            "mode": "id"
          },
          "returnAll": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "executeOnce": true
      },
      {
        "id": "12de53c4-f020-491a-a82c-9716d0ca6189",
        "name": "Enrich payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          208
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const STALE_DAYS = 7;\nconst COMPLETED_LOOKBACK_DAYS = 3;\nconst now = new Date();\nconst sourceNodes = ['Notes - blocks', 'System context - blocks', 'Active objectives', 'Tasks - all'];\n\nfor (const name of sourceNodes) {\n  if ($(name).all().some(item => item.json && item.json.error)) {\n    throw new Error('Notion read failed: ' + name);\n  }\n}\n\nconst getText = (block) => {\n  if (typeof block.content === 'string') return block.content;\n  const content = block[block.type];\n  if (!content) return '';\n  return (content.rich_text || []).map(text => text.plain_text || '').join('');\n};\nconst isChecked = (block) => (\n  block.checked !== undefined ? block.checked : ((block.to_do || {}).checked || false)\n);\n\nconst noteBlocks = $('Notes - blocks').all().map(item => item.json).filter(block => block && block.type);\nlet section = null;\nconst today = [];\nconst journal = [];\nconst todos = [];\nlet journalDate = null;\nfor (const block of noteBlocks) {\n  const text = getText(block);\n  const type = block.type;\n  if (type === 'heading_2' || type === 'heading_1') {\n    if (text.includes('Today')) section = 'today';\n    else if (text.includes('Journal')) section = 'journal';\n    else if (text.includes('Todo') || text.includes('✅')) section = 'todos';\n    else if (text.includes('Archive') || text.includes('🗄')) break;\n    else section = null;\n    continue;\n  }\n  if (type === 'heading_3' && section === 'journal') {\n    if (journalDate !== null) break;\n    journalDate = text;\n    continue;\n  }\n  if (!text) continue;\n  if (section === 'today') today.push(text);\n  else if (section === 'journal' && journalDate !== null) journal.push(text);\n  else if (section === 'todos') todos.push((isChecked(block) ? '✓' : '☐') + ' ' + text);\n}\n\nconst contextParts = [];\nif (today.length) contextParts.push(\"Today's notes:\\n\" + today.map(line => '- ' + line).join('\\n'));\nif (journalDate && journal.length) {\n  contextParts.push('Journal (' + journalDate + '):\\n' + journal.map(line => '- ' + line).join('\\n'));\n}\nif (todos.length) contextParts.push('Open todos:\\n' + todos.join('\\n'));\nconst context = contextParts.join('\\n\\n').slice(0, 3000);\n\nconst systemLines = [];\nfor (const block of $('System context - blocks').all().map(item => item.json).filter(block => block && block.type)) {\n  const text = getText(block).trim();\n  if (!text) continue;\n  systemLines.push(block.type.startsWith('heading_') ? '## ' + text : '- ' + text);\n}\nconst system_context = systemLines.join('\\n').slice(0, 12000);\n\nconst normalize = (value) => value.toString().toLowerCase().normalize('NFD')\n  .replace(/[̀-ͯ]/g, '').replace(/[^a-z0-9]+/g, '');\nconst toText = (value) => {\n  if (value === undefined || value === null) return '';\n  if (Array.isArray(value)) return value.map(toText).filter(Boolean).join(', ');\n  if (typeof value === 'object') {\n    return value.name || value.value || value.plain_text || value.start ||\n      (value.text && value.text.content) || '';\n  }\n  return value.toString();\n};\nconst mapProperties = (json) => {\n  const mapped = {};\n  const source = { ...(json.properties || {}), ...json };\n  for (const key of Object.keys(source)) {\n    mapped[normalize(key.startsWith('property_') ? key.slice(9) : key)] = source[key];\n  }\n  return mapped;\n};\nconst field = (mapped, names) => {\n  for (const name of names) {\n    const value = toText(mapped[name]);\n    if (value) return value;\n  }\n  return '';\n};\n\nconst objectives = [];\nfor (const item of $('Active objectives').all()) {\n  const mapped = mapProperties(item.json || {});\n  const name = field(mapped, ['name']);\n  if (!name) continue;\n  const status = field(mapped, ['status']);\n  if (status && status !== 'Active') continue;\n  objectives.push({\n    name,\n    area: field(mapped, ['area']),\n    priority: field(mapped, ['priority']),\n    current_state: field(mapped, ['currentstate']),\n    next_step: field(mapped, ['nextstep']),\n    horizon: field(mapped, ['horizon']),\n  });\n}\n\nconst open_tasks = [];\nconst completed_tasks = [];\nfor (const item of $('Tasks - all').all()) {\n  const mapped = mapProperties(item.json || {});\n  const title = field(mapped, ['task']);\n  if (!title) continue;\n  const status = field(mapped, ['status']);\n  const common = {\n    title,\n    area: field(mapped, ['area']),\n    why: field(mapped, ['why']),\n    feedback: field(mapped, ['feedback']),\n  };\n  if (status === 'To do' || !status) {\n    const proposedOn = field(mapped, ['proposedon']);\n    if (proposedOn) {\n      const age = (now - new Date(proposedOn)) / 86400000;\n      if (age > STALE_DAYS) continue;\n    }\n    open_tasks.push({ ...common, proposed_on: proposedOn });\n  } else if (status === 'Done') {\n    const completedOn = field(mapped, ['doneon', 'lasteditedtime']);\n    if (!completedOn) continue;\n    const age = (now - new Date(completedOn)) / 86400000;\n    if (!Number.isFinite(age) || age < 0 || age > COMPLETED_LOOKBACK_DAYS) continue;\n    completed_tasks.push({ ...common, completed_on: completedOn });\n  }\n}\ncompleted_tasks.sort((a, b) => new Date(b.completed_on) - new Date(a.completed_on));\n\nconst prepared = $('Prepare').first().json || {};\nreturn [{\n  json: {\n    ...prepared,\n    context,\n    system_context,\n    objectives,\n    open_tasks,\n    completed_tasks: completed_tasks.slice(0, 10),\n  },\n}];\n"
        }
      },
      {
        "id": "523bbe29-7f2e-43d5-b749-3fa68a760787",
        "name": "Active objectives",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1000,
          380
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "={{ $env.NOTION_OBJECTIVES_DATABASE_ID }}",
            "mode": "id",
            "cachedResultName": "Objectives"
          },
          "returnAll": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "executeOnce": true
      },
      {
        "id": "aa966cb5-b48c-4b07-a191-0d85cc9e9ed8",
        "name": "Tasks - all",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1160,
          380
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "={{ $env.NOTION_TASKS_DATABASE_ID }}",
            "mode": "id",
            "cachedResultName": "Tasks"
          },
          "returnAll": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "executeOnce": true
      },
      {
        "id": "fa6be469-808c-4ab3-bc39-c7dc98ef1a04",
        "name": "Tasks to create",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          380
        ],
        "parameters": {
          "jsCode": "const output = $('Brief fallback if Claude fails').first().json || {};\nconst tasks = Array.isArray(output.tasks) ? output.tasks : [];\nconst openTasks = (($('Enrich payload').first().json || {}).open_tasks) || [];\nconst normalize = (value) => (value || '').toString().toLowerCase().normalize('NFD')\n  .replace(/[̀-ͯ]/g, '').replace(/[^a-z0-9]+/g, '');\nconst blocked = new Set(openTasks.map(task => normalize(task.title)));\nconst seen = new Set();\nconst result = [];\n\nfor (const task of tasks) {\n  if (!task || !task.title) continue;\n  const key = normalize(task.title);\n  if (!key || blocked.has(key) || seen.has(key)) continue;\n  seen.add(key);\n  result.push({\n    json: {\n      title: task.title,\n      area: task.area || 'Knowledge',\n      why: task.why || '',\n    },\n  });\n}\nreturn result;\n"
        }
      },
      {
        "id": "e529f3ae-34fd-4f4a-bdb5-fc0db77e629f",
        "name": "Create tasks",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2220,
          380
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "create",
          "databaseId": {
            "__rl": true,
            "value": "={{ $env.NOTION_TASKS_DATABASE_ID }}",
            "mode": "id",
            "cachedResultName": "Tasks"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Task|title",
                "title": "={{ $json.title }}"
              },
              {
                "key": "Status|select",
                "selectValue": "To do"
              },
              {
                "key": "Area|select",
                "selectValue": "={{ $json.area }}"
              },
              {
                "key": "Why|rich_text",
                "textContent": "={{ $json.why }}"
              },
              {
                "key": "Source|select",
                "selectValue": "Brief"
              },
              {
                "key": "Proposed on|date",
                "date": "={{ $now.toISO() }}",
                "includeTime": false
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "66a36361-4458-48fe-aa77-c5aafc2d6ad1",
        "name": "Brief: first block",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1560,
          380
        ],
        "parameters": {
          "resource": "block",
          "operation": "getAll",
          "blockId": {
            "__rl": true,
            "value": "={{ $env.NOTION_DAILY_BRIEF_PAGE_ID }}",
            "mode": "id"
          },
          "returnAll": true,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "executeOnce": true
      },
      {
        "id": "ee2d4c8c-5c2f-40b8-8317-7e7cf67f2400",
        "name": "Build write payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          208
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const fb = $('Brief fallback if Claude fails').first().json || {};\nconst blocks = Array.isArray(fb.blocks) ? fb.blocks : [];\nconst firstBlocks = $('Brief: first block').all().map(i => i.json).filter(b => b && b.id);\nconst after = firstBlocks.length ? firstBlocks[0].id : null;\nconst children = [{ object: 'block', type: 'divider', divider: {} }].concat(blocks);\nconst body = after ? { children, after } : { children };\nreturn [{ json: { body } }];"
        }
      },
      {
        "id": "24be67d9-cbb3-47e9-b480-b7a33dd4ac29",
        "name": "Stale tasks",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1340,
          540
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const STALE_DAYS = 7;\nconst now = new Date();\nconst normalize = (value) => value.toString().toLowerCase().normalize('NFD')\n  .replace(/[̀-ͯ]/g, '').replace(/[^a-z0-9]+/g, '');\nconst toText = (value) => {\n  if (value === undefined || value === null) return '';\n  if (Array.isArray(value)) return value.map(toText).filter(Boolean).join(', ');\n  if (typeof value === 'object') {\n    return value.name || value.value || value.plain_text || value.start ||\n      (value.text && value.text.content) || '';\n  }\n  return value.toString();\n};\nconst mapProperties = (json) => {\n  const mapped = {};\n  const source = { ...(json.properties || {}), ...json };\n  for (const key of Object.keys(source)) {\n    mapped[normalize(key.startsWith('property_') ? key.slice(9) : key)] = source[key];\n  }\n  return mapped;\n};\nconst result = [];\n\nfor (const item of $('Tasks - all').all()) {\n  const json = item.json || {};\n  if (!json.id) continue;\n  const mapped = mapProperties(json);\n  if (toText(mapped.status) !== 'To do') continue;\n  const proposedOn = toText(mapped.proposedon);\n  if (!proposedOn) continue;\n  const age = (now - new Date(proposedOn)) / 86400000;\n  if (age > STALE_DAYS) result.push({ json: { id: json.id } });\n}\nreturn result;\n"
        }
      },
      {
        "id": "5180d605-b72c-47d6-a915-03c4501a3eb6",
        "name": "Abandon tasks",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1540,
          540
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Status|select",
                "selectValue": "Abandoned"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "__NOTION_CREDENTIAL_ID__",
            "name": "Notion account"
          }
        }
      },
      {
        "id": "18c2c166-2039-40b1-bbd8-182e418fcb37",
        "name": "Detect degradation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1780,
          420
        ],
        "parameters": {
          "jsCode": "const fallback = $('Brief fallback if Claude fails').first().json || {};\nconst engine = fallback.engine || (fallback.fallback ? 'none' : 'claude');\nconst context_source = fallback.context_source || 'fallback';\nif (engine === 'claude' && context_source === 'notion') return [];\nconst date = $('Prepare').first().json.date || new Date().toLocaleDateString('en-GB');\nreturn [{ json: { engine, context_source, date } }];"
        }
      },
      {
        "id": "cf86e0c7-c136-417b-8b17-f88d00094e28",
        "name": "Telegram alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          420
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: 'Daily Brief - degradation\\n\\nEngine: ' + $json.engine + '\\nContext: ' + $json.context_source + '\\nDate: ' + $json.date + '\\n\\n' + ($json.context_source !== 'notion' ? 'The System Context page is unavailable; no static profile was injected. ' : '') + ($json.engine !== 'claude' ? 'A fallback engine was used.' : '') }) }}",
          "options": {
            "timeout": 15000
          }
        }
      },
      {
        "id": "9bef7031-45ab-455e-8631-aa30a6d97a29",
        "name": "Heartbeat Daily Brief",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $env.MEMO_BRIDGE_URL + '/heartbeat/brief' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $env.MEMO_TOKEN }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ date: $('Prepare').first().json.date, engine: $('Brief fallback if Claude fails').first().json.engine || 'none', context_source: $('Brief fallback if Claude fails').first().json.context_source || 'missing' }) }}",
          "options": {
            "timeout": 10000
          }
        }
      }
    ],
    "connections": {
      "AI Inbox - pages": {
        "main": [
          [
            {
              "node": "Prepare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion: write brief": {
        "main": [
          [
            {
              "node": "IDs to process",
              "type": "main",
              "index": 0
            },
            {
              "node": "Tasks to create",
              "type": "main",
              "index": 0
            },
            {
              "node": "Heartbeat Daily Brief",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IDs to process": {
        "main": [
          [
            {
              "node": "Mark Briefed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Memo Bridge /brief": {
        "main": [
          [
            {
              "node": "Brief fallback if Claude fails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every day at 7:00": {
        "main": [
          [
            {
              "node": "AI Inbox - pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare": {
        "main": [
          [
            {
              "node": "Notes - blocks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enrich payload": {
        "main": [
          [
            {
              "node": "Memo Bridge /brief",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notes - blocks": {
        "main": [
          [
            {
              "node": "System context - blocks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "System context - blocks": {
        "main": [
          [
            {
              "node": "Active objectives",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Active objectives": {
        "main": [
          [
            {
              "node": "Tasks - all",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tasks - all": {
        "main": [
          [
            {
              "node": "Enrich payload",
              "type": "main",
              "index": 0
            },
            {
              "node": "Stale tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tasks to create": {
        "main": [
          [
            {
              "node": "Create tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brief fallback if Claude fails": {
        "main": [
          [
            {
              "node": "Brief: first block",
              "type": "main",
              "index": 0
            },
            {
              "node": "Detect degradation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brief: first block": {
        "main": [
          [
            {
              "node": "Build write payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build write payload": {
        "main": [
          [
            {
              "node": "Notion: write brief",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stale tasks": {
        "main": [
          [
            {
              "node": "Abandon tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect degradation": {
        "main": [
          [
            {
              "node": "Telegram alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner",
      "errorWorkflow": "globalErrorMonitor"
    },
    "staticData": {
      "node:Every day at 7:00": {
        "recurrenceRules": []
      },
      "node:Every day at 4:00": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "aiBuilderAssisted": true,
      "builderVariant": "mcp"
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "b97bcb10-d65f-4a42-b069-9666a2d661c7",
    "activeVersionId": "b97bcb10-d65f-4a42-b069-9666a2d661c7",
    "versionCounter": 35,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "tags": []
  }
]
